@media only screen and (max-width: 600px) {
	#navbarProposeLink,
	#navbarTutorialsLink {
		display: none;
	}
	#navbarProposeIcon,
	#navbarTutorialsIcon {
		display: block;
	}
}
@media only screen and (max-width: 400px) {
	#navbarFeedbackButton {
		display: none;
	}
}
